<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
        <!--<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />-->
    </configSections>
    <log4net configSource="log4net.config" />
    <appSettings>
        <add key="MessageQueueConnectionString" value="host=localhost;user=guest;password=guest"/>
        <add key="SetupQueues" value="true"/>
        <add key="TaskConcurrencyLevel" value="1"/>        
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>    
  </runtime>
</configuration>
